.button {
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-family: "Rockwell";
    -fx-font-style: oblique;
    -fx-font-weight: 900;
    -fx-text-fill: black;
    -fx-graphic-text-gap: -60;
}



#buttons {
    -fx-graphic-text-gap: -40;
}

#logout {
    -fx-graphic-text-gap: -40;
}


.button:focused {
    -fx-border-width: 0 0 2px 5px;
    -fx-border-color: purple;
}




.list-cell {
    -fx-background-color: transparent;
}

.list-cell:hover {
    -fx-translate-x: -10;
    -fx-translate-y: -10;
    -fx-effect: dropshadow(three-pass-box, #6713d2, 5, 0.0, 0, 1);
}

.list-view {
    -fx-background-color: transparent;
}



#invitationResponseBtns {
  -fx-align-self: center;
 
  -fx-background-color: #7a7676e6;
 
  -fx-font-family: Neucha, sans-serif;
}
#invitationResponseBtns:hover{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to bottom right, #cc208e 10%, #6713d2 100%);
}

#invitationResponseBtns:focused {
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to bottom right, #cc208e 10%, #6713d2 100%);

}

#searchField {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color:   #a1a0a1;
}

#searchField:focused {
    -fx-border-color: linear-gradient(to bottom right, #cc208e 10%, #6713d2 100%);

}


